<!doctype html>
    <html ng-app="pessoasApp">
      <head>
        <script src="js/angular.min.js"></script>
        <script src="js/pessoa-service.js"></script>

        <script>
            var modulo = angular.module('pessoasApp', [
				'PessoaService' // informa que se este modulo depende do modulo "PessoaService"
			]);

            function controlador($scope,$http,$location,PessoaService) {
                var escopo = $scope; 

				// função chamada após o PessoaService fazer o download da lista de pessoas do servidor.
                function pessoasForamRecebidas(resposta){
                       escopo.listaDePessoas = resposta.data 
                }

				// função chamada após a pessoa ser deletada que atualiza a lista 
				// de pessoa para nao exibir mais a pessoa que acabou de ser deletada
				function pessoaFoiDeletada(resposta){ 
			    	PessoaService.getPessoas(pessoasForamRecebidas)
                }

				// função que remove a pessoa utilizando o AngularService "PessoaService"
                function removerPessoa(id){
                     PessoaService.deletePessoa(id,pessoaFoiDeletada)
                }

				// associando variaveis e funções locais ao escopo do controlador
                escopo.listaDePessoas = []
				escopo.removerPessoa = removerPessoa

                // inicializa a lista de pessoas
			    PessoaService.getPessoas(pessoasForamRecebidas)
            }

            modulo.controller('ControladorPessoas', controlador)

        </script>

        <style>
            /* estilos para deixar a tabela mais apresentavel */
            table { border-collapse: collapse;}
            td, th {  border: 1px solid #ddd; padding: 8px;}
            td {text-align: center}
            tr:nth-child(even){background-color: #f2f2f2;}
            tr:hover {background-color: #ddd;}
        </style>
      </head>
      <body>
        <div style="margin:0 auto;width:480px;" ng-controller="ControladorPessoas as controlador">
        	<h2>Pessoas</h2>
            <table>
             <tr>
               <th>ID</th>
               <th>NOME</th>
               <th>DATA DE NASCIMENTO</th>
               <th>AÇÕES</th>
            </tr>
            <tr ng-repeat="pessoa in listaDePessoas">
             <td>{{ pessoa.id }}</td>
             <td>{{ pessoa.nome}}</td>
             <td>{{ pessoa.dataNasc}}</td>
             <td>
				<a href="edit.html?id={{pessoa.id}}">editar</a> 
				| 
				<a href="#" ng-click="removerPessoa(pessoa.id)">remover</a>
			</td>
            </tr>
          </table>
          <br/>
          <p><a href="create.html">Inserir Pessoa</a>
        </div>
      </body>
</html>
